<mat-sidenav-container fullscreen style="background: rgba(152, 164, 190, 0.37)">
      <mat-sidenav style="display:flex; background: rgba(152, 164, 190, 0.37)" fxLayout="column" align="end" #sidenavright mode="side"
        opened="true">
        <span fxFlex></span>
        <button mat-button routerLink="/" routerLinkActive="active">Home</button>
        <span fxFlex></span>
        <button mat-button routerLink="/projects" routerLinkActive="active">Projects</button>
        <span fxFlex></span>
        <button mat-button routerLink="/resume" routerLinkActive="active">Resume</button>
        <span fxFlex></span>
        <button mat-button routerLink="/contact" routerLinkActive="active">Contact</button>
        <span fxFlex></span>
        <a href="https://www.github.com/DilipKunderu">
          <button mat-button>
            <mat-icon class="icon" svgIcon="github"></mat-icon>
          </button>
        </a>
      
        <span fxFlex></span>
        <a href="https://www.linkedin.com/in/dilipkun">
          <button mat-button>
            <mat-icon class="icon" svgIcon="linkedin"></mat-icon>
          </button>
        </a>
      
        <span fxFlex></span>
        <a href="https://medium.com/@dilipkunderu">
          <button mat-button>
            <mat-icon class="icon" svgIcon="medium"></mat-icon>
          </button>
        </a>
      
        <span fxFlex></span>
        <a href="https://www.facebook.com/kunderu.dilip">
          <button mat-button>
            <mat-icon class="icon" svgIcon="facebook"></mat-icon>
          </button>
        </a>
      
        <span fxFlex></span>
      </mat-sidenav>
        
        <div class="inner-sidenav-content">
            <router-outlet></router-outlet>
          </div>       
</mat-sidenav-container>